.btn-primary {
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 2px 20px rgba(232, 71, 11, 0.3);
  }
}
.btn-circle {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  &.btn-sm {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.75rem;
  }
  &.btn-lg {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.35rem;
  }
}

.btn-hover {
    background: none;
    border-color: transparent;
    color: inherit;

    &:hover{
        color: $white;
    }
}
.btn-edit {
    height: 30px;
    width: 30px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

    &:hover {
        text-decoration: none;
    }

    i {
        font-size: 0.7em;
    }
}

.btn-clear {
  border:0;
  background: unset;
}