.form-control {

    &::-webkit-input-placeholder { /* Edge */
        text-transform: uppercase;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        text-transform: uppercase;
    }
    &::placeholder {
        text-transform: uppercase;
    }
}
