// Global component styles
body {
    overflow-x: hidden;
    line-height: 1.4;
    width: 100%;

    &.sidebar-toggled {
        overflow: hidden;
    }

    word-wrap: break-word;
}

a,
button {
    &:focus {
        outline: none;
    }
}

a:hover {
    color: $primary;
}

main {
    @include media-breakpoint-down(lg) {
        overflow: hidden;
        position: relative;
    }
}

.bg-body {
    background-color: $bgcolor;
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

.border-right {
    @include media-breakpoint-down(lg) {
        border-right: 0 !important;
    }
}

.menu-wrapper-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 998;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    background: rgba(0, 0, 0, 0.5);
    -webkit-animation: animation-offcanvas-fade-in 0.6s ease 1;
    animation: animation-offcanvas-fade-in 0.6s ease 1;
}

@-webkit-keyframes animation-offcanvas-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animation-offcanvas-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Scroll to top button
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: $white;
    background: fade-out($gray-800, 0.5);
    line-height: 46px;

    &:focus,
    &:hover {
        color: white;
    }

    &:hover {
        background: $gray-800;
    }

    i {
        font-weight: 800;
    }
}

.post-item {
    .thubnail {
        position: relative;
        overflow: hidden;
        background-color: $activecolor;

        &.aspect-ratio-rectangle {
            padding-top: 61%;
        }

        &.aspect-ratio-square {
            padding-top: 100%;
        }

        img {
            position: absolute;
            width: 101%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover a {
        img {
            -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
        }
    }
}

.navbar-toggler {
    position: relative;
    padding: 0;
    border: 0;
    outline: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #F5F5F5;

    span {
        display: block;
        position: absolute;
        background: $black;
        height: 1.5px;
        width: 35px;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 12px;
            width: 25px;
            left: 10px;
        }

        &:nth-child(3) {
            top: 24px;
        }
    }
}

.navbar-close-toggler {
    @include media-breakpoint-up(lg) {
        display: none;
    }

    position: absolute;
    padding: 0;
    width: 40px;
    height: 30px;
    border: 0;
    outline: none;
    background-color: unset;
    right: 10px;
    top: 20px;

    span {
        background: $black;
        display: block;
        position: absolute;
        height: 1.5px;
        width: 35px;

        &:nth-child(1) {
            top: 18px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        &:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        &:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }

    &:focus,
    &:active {
        outline: none;
    }
}

.overlays-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.close-absolute {
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 1;
    font-size: 2rem;
}

.block-header {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
    }
}

.social-group {
    display: flex;
    align-items: center;

    a {
        margin: 0 8px;
    }
}

.toggleSearch {
    padding: 10px;
    background-color: #fff;
    position: absolute;
    right: 0;
    display: none;
    min-width: 280px;

    input {
        background: #eee;
        width: 100%;
        padding-right: 43px;
    }

    button[type="submit"] {
        position: absolute;
        right: 0;
        top: 0;
        width: 41.8px !important;
        text-align: center;
        padding: 0;
        height: 41.8px !important;
        min-width: unset !important;
    }

    .close-search {
        display: none;
    }

    @include media-breakpoint-down(lg) {
        position: fixed;
        top: 0;
        left: 0;
        min-width: unset;
        width: 100%;
        z-index: 2;

        .close-search {
            display: block;
            position: absolute;
            left: 0;
            background: #fff;
            padding: 0 10px;
            bottom: -20px;
        }
    }
}

.countCart {
    position: absolute;
    top: -10px;
    font-size: 0.7em;
    background: red;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: -5px;
}

.p-section {
    padding-top: 100px;
    padding-bottom: 100px;

    @include media-breakpoint-down(md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.product-inner {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;

    .product-image {
        position: relative;
        display: block;
        vertical-align: top;
        max-width: 100%;
        background-color: #f7f7f7;
        overflow: hidden;
        padding: 50%;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 100%;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: -webkit-transform 1s;
            transition: -webkit-transform 1s;
            -o-transition: transform 1s;
            transition: transform 1s;
            transition: transform 1s, -webkit-transform 1s;
            will-change: transform;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    .product-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        vertical-align: top;
        padding: 15px 20px;

        .product-content--left {
            -ms-flex-preferred-size: 60%;
            flex-basis: 60%;

            .product__title {
                font-size: 1.25rem;
                margin-bottom: 7px;
                font-weight: bold;
            }

            .product__price {
                font-size: 1.25rem;
                opacity: 0.8;
            }
        }

        .product-content--right {
            position: relative;
            -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
        }

        .add_to_cart_button {
            position: absolute;
            z-index: 2;
        }
    }

    .product__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &:hover {
        .product-image img {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
}

.blog-item {
    .inner {
        .blog-image {
            position: relative;

            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        .blog-content {
            padding: 15px 20px;
            background-color: $white;

            .date {
                font-size: 1rem;
                color: $gray-800;
            }

            .title {
                font-family: $typo-primary;
                font-size: 1.3rem;
                font-weight: bold;

                @include media-breakpoint-down(lg) {
                    font-size: 1rem;
                }
            }
        }
    }
}

/*BLOGS*/
/* clear fix */

.grid:after {
    content: "";
    display: block;
    clear: both;
}

.block-subscribe {
    height: 380px;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #c3c3c3;
}

.nav-footer {
    .link {
        position: relative;
        font-weight: 600;
        padding: 0 15px;
        margin-bottom: 10px;

        &:first-child {
            padding-left: 0;
        }

        &:not(:last-child):after {
            position: absolute;
            right: 0;
            content: "|";
        }
    }

    @include media-breakpoint-down(lg) {
        text-align: center;
    }
}

.breadcrumb-block {
    z-index: -1;
    padding: 300px 0 0 0;
    position: relative;
    background-size: cover;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #494949;

    .breadcrumb {
        background: transparent;
        padding: 0;
        text-transform: uppercase;

        .breadcrumb-item:not(.active) {
            font-weight: bold;
        }

        .breadcrumb-item,
        a {
            color: #ffffff;
        }
    }
}

.about-block {
    margin-top: -150px;
    margin-bottom: 100px;
}

footer {
    background: #ffffff;
}



//home
.home-hero {
    margin-top: 100px;

    .title {
        font-size: 90px;
    }
    @include media-breakpoint-down(md) {
        margin-top: 40px;

        .title {
            font-size: 60px;
            line-height: 1;

            span {
                display: block;
            }
        }
    }

}

.grid-hero {
    .thumb {
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            display: block;
            height: auto;
            object-fit: cover;
        }
    }
}

.brand-logo {
    width: auto;
    max-width: 190px;
    height: 40px;

    @include media-breakpoint-down(md) {
        max-width: 120px;
    }
}

.hero-bg {
    position: relative;

    @include media-breakpoint-up(md) {
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 785px;
            top: 50%;
            background-color: #FFFAF2;
            z-index: -1;
        }
    }
    .btn-hero-play {
        width: 60px;
        height: 60px;
        background: unset;
        border:0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.7;
        transition: all 0.3s ease-out;
         -webkit-transition: all 0.3s ease-out;
        img {
            width: 100%;
        }
        &:hover{
            opacity: 1;
        }
    }
}
.responsive-youtube {
    padding-top: 56.25%;
    width: 100%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.close-modal {
    position: absolute;
    right: -10px;
    background: unset;
    border: 0;
    top: -30px;
}

.bg-secondary-mobile {
    @include media-breakpoint-down(md) {
        background: rgb(255, 250, 242);
        background: -moz-linear-gradient(0deg, rgba(255, 250, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255, 250, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(0deg, rgba(255, 250, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffaf2", endColorstr="#ffffff", GradientType=1);
    }
}


.follow-scroll {
    position: absolute;
    transition: all 20s ease-out;
    -webkit-transition: all 20s ease-out;
    z-index: -1;
    left: 60%;
    top: 10%;

    @include media-breakpoint-down(md) {
        left: 50%;
        top: 0;
    }
}

// PRODUCT
.fs-product-wrap {
    position: relative;
}

.fs-product {
    .heading {
        text-align: center;
    }

    .title {
        font-size: 50px;
    }

    .sort {
        font-size: 22px;
    }

    @include media-breakpoint-down(md) {
        .title {
            font-size: 40px;
        }

        .sort {
            font-size: 18px;
        }
    }
}

.fs-product-item {
    position: relative;

    .fs-product-badge {
        position: absolute;
        top: 0;
        right: 0;

        .sale {
            font-size: 16px;
            line-height: 16px;
            background-color: $primary;
            padding: 2px 7px;
            color: #ffffff;
            border-radius: 3px;
            font-weight: 500;
        }
    }

    .fs-product-image {
        width: calc(100% - 60px);
        margin: auto;

        .size {
            position: relative;
            padding-top: 76%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }
    }

    .fs-product-info {
        padding: 25% 15px 25px;
        border: 3px solid transparent;
        border-radius: 15px;
        margin-top: -25%;
        text-align: center;
        height: 330px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        margin-bottom: 25px;

        .inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        @include media-breakpoint-down(md) {
            height: auto;
        }
    }

    .fs-product-name {
        color: $black;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        max-height: calc(18px * 2.5);
    }

    .fs-product-description {
        font-size: 16px;
        margin: 10px 0 0px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        max-height: calc(16px * 3);
    }

    .fs-product-price {
        margin: 10px 0 0px;

        .original {
            color: $black;
            font-size: 20px;
            margin: 0 10px;
            font-weight: 500;

            &.sale {
                color: $gray-700;
                font-size: 16px;
                text-decoration: line-through;
                font-weight: 300;
            }
        }

        .discounted {
            color: $primary;
            font-size: 20px;
            font-weight: 500;
        }

        @include media-breakpoint-down(md) {
            .original {
                font-size: 18px;

                &.sale {
                    color: $gray-700;
                    font-size: 16px;
                }
            }

            .discounted {
                font-size: 18px;
            }
        }
    }

    .fs-product-buy {
        border: 0;
        background-color: $primary;
        color: #fff;
        text-align: center;
        box-shadow: unset;
        padding: 0 40px;
        border-radius: 50px;
        font-weight: 300;
        height: 35px;
        line-height: 35px;
        margin-top: 15px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        display: inline-block;
        text-decoration: none;
        &:hover {
            background-color: $black;
            text-decoration: none;
        }

        @include media-breakpoint-down(md) {
            padding: 0 20px;
        }
    }

    &:hover {
        .fs-product-info {
            box-shadow: 0px 2px 20px rgba(90, 90, 90, 0.2);
        }
    }
}

.fs-review {
    background: rgb(250, 220, 184);
    background: -moz-linear-gradient(0deg, rgba(250, 220, 184, 1) 0%, rgba(255, 248, 244, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(250, 220, 184, 1) 0%, rgba(255, 248, 244, 1) 100%);
    background: linear-gradient(0deg, rgba(250, 220, 184, 1) 0%, rgba(255, 248, 244, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fadcb8", endColorstr="#fff8f4", GradientType=1);

    .heading {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    .review-item {
        .content {
            font-size: 25px;
            max-width: 754px;
            margin: auto;
        }

        .name {
            font-family: "Rosellinda";
            color: $primary;
            font-size: 45px;
            margin: 20px 0 0 0;
        }

        .position {
            font-size: 16px;
            text-transform: uppercase;
        }

        @include media-breakpoint-down(md) {
            .content {
                font-size: 20px;
                max-width: 100%;
            }
        }
    }

    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: $black;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 30px;
        height: 2px;
    }
}

.fs-kol {

    .kol-list {
        .owl-item:nth-child(2n) .kol-item {
            margin-top: 0;
        }
    }

    .kol-item {
        margin-top: 70px;
        border-radius: 20px;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        overflow: hidden;

        .image {
            position: relative;
            padding-top: 141.4%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .description {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 45px 20px 15px;
            text-align: center;
            width: 100%;
            background: rgb(255, 255, 255);
            background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 26%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 26%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 26%, rgba(255, 255, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
        }

        .name {
            font-size: 20px;
        }

        .position {
            font-size: 14px;
            text-transform: uppercase;
        }

        &:hover {
            box-shadow: 0px 2px 20px rgba(232, 71, 11, 0.2);

            .name {
                color: $primary;
            }
        }
    }
}

.fs-tech {
    background-color: #FFFAF2;

    .heading {
        font-size: 25px;
    }

    .tech-item {
        padding-top: 64%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            text-align: center;
            width: 100%;
        }
    }
}

.fs-news {
    @include media-breakpoint-up(md) {
        .btn-news-wrap {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }

    @include media-breakpoint-down(md) {
        .btn-news-wrap {
            text-align: center;
        }
    }

    .heading {
        margin-bottom: 60px;
        position: relative;

        .title {
            font-size: 40px;
            font-weight: 500;

            span {
                display: block;
            }
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;

            .title {
                font-size: 30px;

                span {
                    display: inline-block;
                }
            }
        }
    }

    .news-item {
        .thumb {
            position: relative;
            padding-top: 65%;
            overflow: hidden;
            border-radius: 20px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        a,
        a:hover {
            text-decoration: none;
        }

        .title {
            font-size: 20px;
            font-weight: 500;
            margin-top: 20px;
        }

        &:hover {
            .thumb:hover {
                box-shadow: 0px 2px 20px rgba(232, 71, 11, 0.2);
            }
        }
    }
}

.fs-subscribe {
    background-image: url("../images/bg-newsletter.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    min-height: 28vh;

    .content {
        height: 100%;
        align-content: center;
    }

    .image {
        margin-bottom: -47px;
    }
}

footer {
    background-color: $black;
    color: $white;
    font-weight: 300;
    color: #EBEBEB;

    .fs-footer-col {
        a {
            color: #EBEBEB;
            text-decoration: none;
            display: block;
            line-height: 2;
            font-weight: 300;

            &:hover {
                color: $primary;
                text-decoration: none;
            }
        }

        .inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .logo {
            width: 180px;
            margin-bottom: 30px;
        }

        @include media-breakpoint-down(md) {
            &:not(:last-child) {
                border-bottom: 1px solid #2c2c2c;
                padding-bottom: 20px;
            }
        }
    }

    .copyright {
        text-align: center;
        border-top: 1px solid #2c2c2c;
        padding: 15px 0;
    }
}

#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    top: 0;
    left: 0;
    z-index: 999;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1; 
    pointer-events: none;
    img {
        animation: fadeInOut  2s ease-in-out infinite;
    }
    &.hidden {
        opacity: 0; 
        pointer-events: none;
    }
}