.icon-svg_img {
  width: 20px;
  &.cart {
    width: 35px;
  }
}
.fs-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.fs-icon-user {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 28.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' %5B %3C!ENTITY st0 'fill:none;stroke:%23191A1C;stroke-linecap:round;'%3E%0A%5D%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Ccircle style='&st0;' cx='12' cy='8' r='3.5'/%3E%3Cpath style='&st0;' d='M4.8,16.9c0.6-2.3,3.1-3.4,5.5-3.4h3.3c2.4,0,4.9,1.1,5.5,3.4c0.1,0.5,0.2,1,0.3,1.6c0.1,0.5-0.4,1-0.9,1h-13 c-0.6,0-1-0.4-0.9-1C4.6,17.9,4.7,17.4,4.8,16.9z'/%3E%3C/svg%3E%0A");
}
.fs-icon-bag {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 28.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd' %5B %3C!ENTITY st0 'fill:none;stroke:%23FFFFFF;stroke-linecap:round;'%3E%3C!ENTITY st1 'fill:none;stroke:%23FFFFFF;stroke-linecap:round;stroke-linejoin:round;'%3E%3C!ENTITY st2 'fill:%23FFFFFF;'%3E%0A%5D%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cpath style='&st0;' d='M3.5,4.5h1.6c0.7,0,1,0,1.3,0.2C6.6,4.9,6.7,5.2,7,5.9l0.5,1.6'/%3E%3Cpath style='&st1;' d='M17.5,17.5H8.1c-0.1,0-0.2,0-0.3,0c-0.6-0.1-1-0.6-0.9-1.2c0-0.1,0-0.1,0.1-0.3l0,0c0.1-0.2,0.1-0.2,0.1-0.3 C7.4,15,8,14.6,8.8,14.5c0.1,0,0.2,0,0.3,0h5.4'/%3E%3Cpath style='&st0;' d='M14.2,14.5h-3c-1.3,0-1.9,0-2.4-0.3c-0.5-0.3-0.8-0.9-1.3-2.1l-0.2-0.4C6.5,9.8,6.1,8.8,6.5,8.2 C7,7.5,8,7.5,10,7.5h5.3c2.3,0,3.4,0,3.9,0.7C19.6,9,19.1,10,17.9,12l-0.3,0.5c-0.6,1-0.8,1.5-1.3,1.7 C15.9,14.5,15.3,14.5,14.2,14.5z'/%3E%3Ccircle style='&st2;' cx='17' cy='20' r='1'/%3E%3Ccircle style='&st2;' cx='9' cy='20' r='1'/%3E%3C/svg%3E%0A");
}