.navbar-logo {
    height: $logo-height;;
    height: $navbar-height - 20px;
    width: $logo-width;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    @include media-breakpoint-down(lg) {
        max-height: $navbar-height-mobile - 20px;
    }
}
.navbar-toggler {
    &:focus,&:active{
        outline: none;
    }
}
.nav-fixed {
    @include media-breakpoint-up(lg) {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
        z-index: 99;
        width: 100%;
        display: flex;
    }
    border-bottom: 1px solid #ECE7E0;
}
.navbar-main {
    height: $navbar-height;
    @include media-breakpoint-down(lg) {
    height: $navbar-height-mobile;
      .narbar-left,.narbar-right {
        display: flex;
        flex-direction: row;
        flex: 1;
      }
      .narbar-right {
        justify-content: flex-end
      }
    }
    
}
.navbar-dark{
    a {
        color: rgba($white,.8);
        &:hover{
            color: rgba($white,1);
        }
    }
}
.navbar-light{
    background-color: $navbar-light-background-color;
    a {
        color: rgba($black,.8);
        &:hover{
            color: rgba($black,1);
        }
    }
}
.navbar {
    @include media-breakpoint-down(md) {
        padding: 0;
    }
    .navbar-nav {
        @include media-breakpoint-down(md) {
            .nav-link {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            .nav-item {
                border-bottom: 1px solid $hr-border-color;
            }
        }

        .active {
            .nav-link {
                font-weight: 500;
                position: relative;

                // &::before {
                //     content: "";
                //     position: absolute;
                //     width: calc(100% - 2.6rem);
                //     height: 2px;
                //     background-color: $activecolor;
                //     left: 50%;
                //     bottom: calc(0% + 0.3rem);
                //     transform: translateX(-50%);

                //     @include media-breakpoint-down(md) {
                //         left: 0;
                //         transform: unset;
                //         width: 100%;
                //         bottom: calc(0% + 1rem);
                //     }
                // }
            }
        }

        @include media-breakpoint-down(lg) {
            .nav-link {
                padding-right: 10px;
                padding-left: 10px;
                font-size: 0.8rem;
            }
        }

        .dropdown-menu {
            background-color: $white;
            border-color: $gray-100;
            padding-top: 0;
            padding-bottom: 0;

            .dropdown-item {
                color: $black;
                position: relative;
                padding-top: 0.6rem;
                padding-bottom: 0.6rem;

                &:hover, &.active {
                    background-color: unset;

                    &::after {
                        content: "";
                        position: absolute;
                        width: calc(100% - 2.6rem);
                        height: 2px;
                        background-color: $white;
                        left: 50%;
                        bottom: calc(0% + 0.3rem);
                        transform: translateX(-50%);

                        @include media-breakpoint-down(md) {
                            left: 0;
                            transform: unset;
                            width: 100%;
                            bottom: calc(0% + 1rem);
                        }
                    }
                }
            }
        }

        .dropdown-toggle::after {
            display: none;
        }

        @include media-breakpoint-down(md) {
            .nav-link {
                color: $black;
            }
        }

        @include media-breakpoint-up(md) {
            //Dropdown with Hover
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0; // remove the gap so it doesn't close
            }
        }
    }
    .inner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;    
    }
}
.navbar-collapse {
    flex-basis: auto;
    flex-grow: inherit;

    @include media-breakpoint-down(md) {
        overflow: auto;
        height: 100vh;
        
        background-color: $white;
        position: fixed;
        min-height: 100vh;
        z-index: 999;
        width: 270px;
        overflow: auto;
        top: 0;
        padding: 60px 20px;
        -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
        transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
        left: -270px;
        /* &.collapse:not(.show) {
            left: -270px;
        }*/
        &.collapse.show {
            left: 0;
            -webkit-transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
            transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
        }
    }
}
@include media-breakpoint-down(xs) {
    .wrap-navbar-left {
        width: 100%;
        text-align: center;
    }
    .wrap-navbar-right {
        display: flex;
        align-items: center;
        width: 100%;
        .navbar-toggler {
            margin-left: auto;
        }
    }
}