.slideshow {
    position: relative;
    .owl-carousel {
        z-index: -2;
    }
    .slideshow-item {
        .slideshow-img {
            height: 100vh;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            @include media-breakpoint-down(lg) {
                padding-top: 56.25%;
                height: auto;
                position: relative;
            }
            @include media-breakpoint-down(md) {
                position: relative;
            }
        }
        .slideshow-info {
            color: $white;
            font-size: 1.25rem;
            position: absolute;
            bottom: 70px;
            left: 160px;
            .title {
                font-size: 4rem;
                margin-bottom: 15px;
            }
            .des {
                max-width: 500px;
            }
            .icon {
                display: flex;
                align-items: center;
                color: $white;
                font-weight: bold;
                margin-top: 30px;
                img {
                    margin-left: 10px;
                    width: 70px;
                }
            }
            @include media-breakpoint-down(lg) {
                font-size: 1rem;
                left: 60px;
                bottom: 35px;
                .title {
                    font-size: 2rem;
                }
                .des {
                    max-width: 300px;
                }
            }
            @include media-breakpoint-down(md) {
                color: $black;
                position: relative;
                bottom: unset;
                left: 0;
                padding: 20px;
                font-size: 0.8rem;
                background-color: $gray-100;
                .title {
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }
                .des {
                    max-width: 100%;
                }
                .icon {
                    color: $black;
                    margin-top: 10px;
                    img {
                        display: none;
                    }
                }
            }
        }
    }
}

.control_carousel {
    button {
        box-shadow: unset;
        position: absolute;
        outline: unset;
        bottom: 150px;
        z-index: 1;
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;  
        background-color: #fff;
        border: 1px solid #EDEDED;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        line-height: 45px;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &.next{
            right:-22px; 
        }
        &.pre {
            left:-22px; 
        }
        &:hover, &:focus, &:active{
            background-color: #EDEDED;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;  
        }
    }
}