@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Rosellinda";
    src: url("../fonts/SVN-Rosellinda Alyamore.otf") format("opentype");
    font-style: normal;
}


// Override Bootstrap default variables here

// Color Variables
// Bootstrap Color Overrides

$white: #fff !default;
$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #000000 !default;
$black: #191A1C;

$blue: #4e73df !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$orange: #fd7e14 !default;
$yellow: #f6c23e !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;

$brand-google: #ea4335;
$brand-facebook: #3b5998;


// Project Colors
$maincolor: #e54925;
$activecolor: $maincolor;
$subcolor: #F5F5F5;
$inactivecolor: #ECE7E0;
$bgcolor: $white;


// Project Typography
$typo-primary: 'SF Pro Display', sans-serif;
$typo-secondary: $typo-primary;
$typo-spacing-2: initial;
$typo-spacing-3: initial;

$link-color: $black;

// Copyright (CPR) Element
$CPRBackgroundcolor: #80837f;
$CPRfontsize: 0.7rem;
$CPRcolor: $white;
$CPRfontfamyly:  $typo-primary;
$CPRfontweight: 400;


//Overwrite default variable
$primary:       $maincolor !default;
$secondary:     $subcolor !default;
$success:       $activecolor !default;
$info:          $inactivecolor !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white;
$dark:          $black;


// Set Contrast Threshold
$yiq-contrasted-threshold: 195 !default;


// $headings-font-family: $typo-secondary;
$headings-font-weight: 300;
$font-weight-bold: 500;
//$headings-line-height:
$display-line-height: 1.4;

$h1-font-size: 3.5rem;
$h1-font-size-xl: 60px;
$h1-font-size-lg: 2.5rem;
$h1-font-size-md: 2rem;
$h1-font-size-sm: 1.5rem;

$h2-font-size: 2rem;
$h2-font-size-xl: 50px;
$h2-font-size-lg: 1.5rem;
$h2-font-size-md: 1.2rem;
$h2-font-size-sm: 1.2rem;

$h7-font-size: 0.8rem;

$display4-size: 18px;
// Body
//
// Settings for the `<body>` element.
$body-bg:                   $bgcolor;
$body-color:               $black;
$font-family-sans-serif: $typo-primary !default;

$font-weight-light: 100 !default;
$font-weight-base: 300;
$headings-font-weight: 100;

$container-max-widths-xxl: 1420px;

//Header Element
$logo-height : 40px;
$logo-width : 147px;

// Shadows
$box-shadow-sm: 0 0.125rem 0.25rem 0 rgba($gray-900, .2) !default;
$box-shadow: 0 0.15rem 1.75rem 0 rgba($gray-900, .15) !default;
// $box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;



// Borders Radius
$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

$border-color: darken($gray-200, 2%);



//FORM + INPUT
$input-font-family: $typo-primary;
$input-color: $black;
$input-bg: transparent;
$input-border-color: $black;
$input-border-width: 0;
$input-placeholder-color: $black;
$input-font-size:0.8rem;
$input-padding-y:0.7rem;
$input-padding-x: 1rem;


// Spacing Variables
// Change below variable if the height of the navbar changes
$topbar-base-height: 4.375rem;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 14rem;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 6.5rem;



// Card
$card-cap-bg: $gray-100;
$card-border-color: $border-color;


// Adjust column spacing for symmetry
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;



// Transitions
$transition-collapse: height .15s ease !default;



// Dropdowns
$dropdown-font-size: 0.85rem;
$dropdown-border-color: $border-color;



// Navbar
$navbar-height: 80px;
$navbar-height-mobile:60px;
$navbar-padding-y: 0.75rem;
//$navbar-padding-x: ;
$navbar-nav-link-padding-x: 1.2rem;

$navbar-light-color: rgba($black,.8);
$navbar-light-hover-color: rgba($activecolor, .8);
$navbar-light-active-color: $activecolor;
$navbar-light-background-color: #fff;

$navbar-dark-color:                 rgba($white,.8);
$navbar-dark-hover-color:           rgba($white,1);
$navbar-dark-active-color:          $white;


//Nav
$nav-tabs-border-color: $inactivecolor;
/*$nav-tabs-border-width: $border-width !default;*/
/*$nav-tabs-border-radius: $border-radius !default;*/
$nav-tabs-link-hover-border-color: $inactivecolor;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-bg: $primary;
$nav-tabs-link-active-border-color: $primary;


// Button 
$btn-font-weight: 500;
$btn-padding-y: 12px;
$btn-padding-x: 1.875rem;
$btn-font-size: 1rem;
$btn-line-height:1.2;
$btn-border-radius: 50px;

$btn-padding-y-sm: 0.313rem;
$btn-padding-x-sm: 1.875rem;
$btn-font-size-sm:1rem;
$btn-line-height-sm:1.2;
//$btn-border-radius-sm:

//Modal
$modal-content-border-radius: 0;

// pagination
$pagination-padding-y:  0.313rem;
$pagination-padding-x:  1rem;
$pagination-color:  rgba($black, 0.7);
$pagination-bg: $secondary;
$pagination-border-color:$secondary;

$pagination-hover-color :  rgba($white, 0.7);
$pagination-hover-bg :  rgba($black, 0.7);
$pagination-hover-border-color :  rgba($black, 0.7);

$pagination-active-color:  $black;
$pagination-active-bg: $secondary;
$pagination-active-border-color:  $black;